@page "/game"

<h3>MemoryGame</h3>

<table>
    <tr>
        <Card Value="1" />
        <Card Value="2" />
        <Card Value="3" />
        <Card Value="4" />
    </tr>
    <tr>
        <Card Value="5" />
        <Card Value="6" />
        <Card Value="7" />
        <Card Value="8" />
    </tr>
    <tr>
        <Card Value="1" />
        <Card Value="2" />
        <Card Value="3" />
        <Card Value="4" />
    </tr>
    <tr>
        <Card Value="5" />
        <Card Value="6" />
        <Card Value="7" />
        <Card Value="8" />
    </tr>
</table>

@code {

}
