@using System.Linq
@using System.Collections.Generic
@page "/game"

<h3>MemoryGame</h3>

@foreach(var symbol in cardValues)
{
    <Card Value="@symbol" OnClickCallback="@OnCardClick" />
}


@code {
    private readonly IEnumerable<string> symbols = new string[] { "❤", "🍕", "🐱‍👤", "🐰", "💾", "🙈", "🏎", "🍩" };
    private IEnumerable<string> cardValues;

    protected override async Task OnInitializedAsync()
    {
        cardValues = Shuffle(symbols.Concat(symbols).ToList());
    }

    private void OnCardClick(MouseEventArgs args) {

    }

    static IList<T> Shuffle<T>(IList<T> list)  
    {  
        var rng = new Random();
        int n = list.Count;  
        while (n > 1) {  
            n--;  
            int k = rng.Next(n + 1);  
            T value = list[k];  
            list[k] = list[n];  
            list[n] = value;  
        }  
        return list;
    }

}
