<div style="width: 25%; float: left; height: 100px; border: 1px solid black;">
    <div style="font-size: 30px; text-align: center;">@Value</div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }
}
