<div style="width: 25%; float: left; height: 100px; border: 1px solid black; font-size: 30px; text-align: center;" @onclick="OnClickCallback">
    @if (CardData.IsVisible) {
        @CardData.Value
    } else {
        @:?
    }
</div>

@code {
    [Parameter]
    public CardData CardData { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
