<div style="width: 25%; float: left; height: 100px; border: 1px solid black; font-size: 30px; text-align: center;" @onclick="Flip">
    @if (IsVisible) {
        @Value
    } else {
        @:?
    }
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    public bool IsVisible { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    private async Task Flip(MouseEventArgs args) {
        IsVisible = !IsVisible;
        await OnClickCallback.InvokeAsync(args);
    }
}
